html,body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	font-family: "Quicksand";
}

.hero {
	height: 100%;
	background: url("../images/bg.png");
	/*remove and replace w/ video*/
}

.vertical-align {
	position: relative;
	top: 35%;
	left:0;
	right:0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navbar-default {
	background: rgba(255, 255, 255, 0);
	border: none;
}

.nav.navbar-nav.navbar-right li a {
	color: #eee;
}

.nav.navbar-nav.navbar-center li a {
	color: #eee;
}

.icon-bar {
	background-color: #eee !important;
}

.navbar-header button {
	border: none;
	background: none !important;
}

.navbar-nav.navbar-center > li{
	padding-left:30px;
	padding-right:30px;
}